.modal,
.overlay,
.modal-flex-container {
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgb(49, 49, 49, 0.8);
}

.modal-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal-container {
    width: 70%;
    background-color: rgb(var(--third-color), 1);
    visibility: visible;
    padding: 2%;
    padding-bottom: 0;
    border: 0.01rem solid rgb(var(--border-color), 0.25);
    border-radius: 0.5rem;
}

.modal-container {
    display: flex;
    flex-direction: column;
}

.modal-label{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-left: 0.1rem;
}

.modal-content {
    flex-grow: 1;
}

.sponsor {
    display: flex;
    justify-content: end;
}

.sponsor img {
    width: 15%;
    height: auto;
}