.content_container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    background-color: var(--clr-primary);
    padding: var(--space-base);

    height: 90%;
    max-height: 90%;
    width: 100%;
    max-width: 100%;

    border-radius: 1rem;
}

.exit_btn {
    display: block;
    align-self: flex-end;
    height: 1.25em;
    width: 1.25em;
    border-radius: 1em;
}

.search {
    display: flex;
    gap: var(--space-xs);
}

.search__bar {
    flex: 1;
    min-width: 170px;
    background-color: var(--clr-secondary);
    border: none;
    border-radius: var(--space-base);
    padding-left: 1rem;
    color: var(--clr-text);
}

.search__bar:focus {
    outline: transparent;
}

.search__btn {
    border-radius: 1em;
    padding: var(--space-xs);
    font-size: var(--text-base);
}

.results {
    margin-top: var(--space-xs);
    margin-bottom: var(--space-xs);
    flex: 1;
    overflow-y: auto;
    border-radius: 0.5rem;
    border: solid 1px var(--clr-secondary);
}


/* Item Data Styles */
.itemData_container {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}


.itemData_content_container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.itemdata__item_name {
    text-align: center;
    font-weight: 600;
    margin-top: calc(-1 * var(--space-xxs));
}

.itemdata__amount,
.itemdata__serving_size {
    display: flex;
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
    font-size: var(--size-sm);
}

span {
    flex: 1;
}

.itemdata__amount input,
.itemdata__serving_size select {
    width: 100px;
    background-color: var(--clr-secondary);
    border: none;
    border-radius: 0.25rem;
    color: var(--clr-text);
    text-align: end;
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
}

.itemdata__serving_size select {
    background-color: var(--clr-primary);
    flex: 1.5;
    /* margin-left: var(--space-xxs); */
}

.itemdata__amount input:focus {
    outline: transparent;
}


.button_tab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: calc(-1 * var(--space-xs));
    gap: var(--space-xs);
}

.btn{
    font-size: var(--text-lg);
    background-color: var(--clr-secondary);
    padding: var(--space-xxs) var(--space-base);
    border-radius: 1rem;
}

.btn:hover {
    background-color: var(--clr-text);
    color: var(--clr-primary);
}

/* NIX LOGO */
.nix_logo {
    font-size: var(--text-sm);
}

.no_results {
    padding-top: var(--space-xxs);
    padding-left: var(--space-sm);
}


@media (min-width: 320px) {
    .nix_logo {
        align-self: flex-end;
    }
}

@media (min-width: 375px) {
    .search__btn {
        font-size: var(--text-lg);
    }
}