.ring__container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.25rem;
}

.dash_container {
    padding-bottom: var(--space-xxs);
}

.desktop_dash_container {
    display: none;
}

/* xs */
/* @media (min-width: 475px) {

} */

/* sm */
/* @media (min-width: 640px) {

} */

/* md */
/* @media (min-width: 768px) {

} */

/* lg */
@media (min-width: 1024px) {
    .dash_container {
        border: solid 1px var(--clr-border);
        border-radius: 1rem;
        padding-top: var(--space-xxs);
        padding-bottom: 0;
    }
}

/* xl */
/* @media (min-width: 1280px) {

} */

/* 2xl */
/* @media (min-width: 1536px) {

} */