.innerLabel__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: -10;
}

.innerLabel__firstLn {
    font-size: var(--size-sm);
    margin-bottom: calc(var(--space-xs) * -1);
}

.innerLabel__secondLn {
    font-size: var(--size-xs);
    margin-top: var(--space-xxs);
}

.outerLabel {
    font-size: var(--size-sm);
}