.diary__container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 1rem;
    border-bottom: solid 1px var(--clr-border);
}

.diary__row {
    display: flex;
    align-items: center;
    gap: var(--space-xl);
    padding: var(--space-xxs) var(--space-base);
}

.diary__row:nth-child(odd){
    background-color: var(--clr-secondary);
}

.diary__row__leftside,
.diary__row__rightside {
    display: flex;
    flex-direction: column;
    font-size: var(--size-xs);
}

.diary__row__leftside,
.diary__row__leftside>* {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.diary__row__leftside {
    flex: 1;
}

.diary__row__bottom {
    color: var(--clr-text-secondary);
}

.diary__row__name,
.diary__row__calories {
    margin-bottom: calc(var(--space-xs) * -1);
}

.diary__row__info,
.diary__row__label {
    margin-top: var(--space-xxs);
}

.diary__row__name {
    font-size: var(--size-sm);
    font-weight: 600;
}

.diary__row__info {
    width: 85%;
}

.diary__row__calories {
    font-size: var(--size-sm);
}

.diary__row__label {
    text-align: end;
}


/* xs */
/* @media (min-width: 475px) {

} */

/* sm */
/* @media (min-width: 640px) {

} */

/* md */
/* @media (min-width: 768px) {

} */

/* lg */
@media (min-width: 1024px) {
    .diary__container {
        grid-row: 2 / -1;
        grid-column: 1 / 1;
    }
}

/* xl */
/* @media (min-width: 1280px) {

} */

/* 2xl */
/* @media (min-width: 1536px) {

} */