.dateTray {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    /* margin-left: 18rem; */
}

.dateTray button {
    margin: 0px;
}

.date {
    padding: 0 2em;
    font-weight: 700;
    font-size: 1.3rem;
}

