:root {
  /* colors */
  --clr-primary: #27272a;
  --clr-secondary: #3f3f46;
  --clr-text: #f4f4f5;
  --clr-text-secondary: rgb(244, 244, 245, 0.68);
  --clr-border: rgba(255, 255, 255, 0.1);

  --clr-protein: #22c55e;
  --clr-carbs: #3b82f6;
  --clr-fat: #ef4444;

  --clr-baseline: #0f766e;
  --clr-activity: #a855f7;
  --clr-exercise: #eab308;

  --clr-calories-remaining: #3f3f46;
  --clr-calories-consumed: #f97316;

  /* standard sizes */
  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --text-header: 1.5rem;

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* spacing */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-base: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'General Sans', sans-serif;
  background-color: var(--clr-primary);
  color: var(--clr-text);

}

.img,
picture,
video,
canvas,
img {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}


/* Container Styling */
.mobile_container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.desktop_container {
  display: none;
}

/* lg */
@media (min-width: 1024px) {
  .desktop_container {
    padding: var(--space-base);
    max-height: 70%;
    display: grid;
    grid-template-rows: auto 10fr;
    grid-template-columns: 4fr 1fr;
    gap: 0 var(--space-base);
  }

  .mobile_container {
    display: none;
  }
}



/* Media Query References */

/* xs */
/* @media (min-width: 475px) {

} */

/* sm */
/* @media (min-width: 640px) {

} */

/* md */
/* @media (min-width: 768px) {

} */

/* lg */
/* @media (min-width: 1024px) {

} */

/* xl */
/* @media (min-width: 1280px) {

} */

/* 2xl */
/* @media (min-width: 1536px) {

} */