/* Media Query References */

/* xs */
/* @media (min-width: 475px) {

} */

/* sm */
/* @media (min-width: 640px) {

} */

/* md */
/* @media (min-width: 768px) {

} */

/* lg */
/* @media (min-width: 1024px) {

} */

/* xl */
/* @media (min-width: 1280px) {

} */

/* 2xl */
/* @media (min-width: 1536px) {

} */


.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-sky);
    color: var(--clr-light);
    padding: 0.05em 1em;
    border-radius: 6px;
}


/* Container Styling */

.container{
    border: solid 0px white;
}

.section {
    margin-top: 5rem;
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
        margin-left: auto;
        margin-right: auto;
    }
}