/* Media Query References */

/* xs */
/* @media (min-width: 475px) {

} */

/* sm */
/* @media (min-width: 640px) {

} */

/* md */
/* @media (min-width: 768px) {

} */

/* lg */
/* @media (min-width: 1024px) {

} */

/* xl */
/* @media (min-width: 1280px) {

} */

/* 2xl */
/* @media (min-width: 1536px) {

} */

.light-mode {
    --clr-primary: #f4f4f5;
    --clr-secondary: #d4d4d8;
    --clr-text: #27272a;
    --clr-border: rgba(0, 0, 0, 0.1);

    --clr-baseline: #0f766e;
    --clr-activity: #a855f7;
    --clr-exercise: #eab308;

    --clr-calories-remaining: #3b82f6;
    --clr-calories-consumed: #f97316;

}

.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-sky);
    color: var(--clr-light);
    padding: 0.05em 1em;
    border-radius: 6px;
}


/* Container Styling */

.container {
    padding-left: var(--space-base);
    padding-right: var(--space-base);
    border: solid 0px white;
}

.section {
    margin-top: 5rem;
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
        margin-left: auto;
        margin-right: auto;
    }
}